/*Main*/
/*Banner*/
main {
    font-family: 'Roboto', sans-serif !important;
    /* 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif */
}

.page-banner {
    padding: 300px 0 150px;
    background: url("../img/page-banner.jpg") center center no-repeat;
    background-size: cover;
}

.page-banner h1 {
    color: #fff;
    font-size: 50px;
}

.page-banner p {
    font-size: 22px;
    color: #999999;
}

.page-banner h1,
.page-banner p {
    text-align: left;
    margin-bottom: 20px;
}

/*Main*/
#about-content {
    margin: 50px 0 80px 0;
}

#about-content .img-1 img

/*áº¢nh banner*/
    {
    width: 100%;
    border-radius: 10px;
}

#about-content .ab-1 {
    margin-bottom: 100px;
}

#about-content .ab-1 h1 {
    font-size: 40px;
    color: #000;
    margin-bottom: 20px;
}

#about-content .ab-1 span {
    font-size: 18px;
    color: #000;
    margin-bottom: 20px;
}

#about-content .ab-1 p {
    font-size: 16px;
    margin: 20px 0;
    line-height: 1.6;
    color: #000;
    text-align: justify;
}

#about-content .header-2 {
    font-size: 40px;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 15px;
}

#about-content h5 {
    font-size: 25px;
    text-align: center;
    margin-top: 20px;
}

#about-content .about-cheft {
    font-size: 16px;
    color: #000;
    line-height: 1.6;
    padding-top: 15px;
    text-align: justify;
}

#about-content .cheft img {
    width: 100%;
    height: 350px;
    border-radius: 10px;
}

#about-content .p-2 {
    text-align: center;
    font-size: 22px;
    color: #000;
    margin-bottom: 20px;
}

#about-content .about-cm {
    padding-top: 15px;
    color: #000;
    line-height: 1.6;
    font-size: 16px;
    text-align: justify;
}

#about-content .cm .cm-img {
    text-align: center;
}