* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Roboto', sans-serif;
}

#header {
    font-family: 'Times New Roman', Times, serif;
    width: 100%;
    border-bottom: 1px solid #ccc;
    background-color: #f6f8fa;
    opacity: 0.9;
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    right: 0;
}

#header .navbar-logo {
    font-family: 'Roboto Slab', serif;
    color: #076623 !important;
    text-decoration: none !important;
    font-size: 45px;
    font-weight: 600;
    text-shadow: 0 0 2px #ccc;
    cursor: pointer;
    padding: 15px;
}

.nav-item a {
    font-size: 20px;

    font-weight: 600px;
    color: rgba(0, 0, 0, .9);
    letter-spacing: 1px;
    margin-left: 30px;
}

.nav-item a:hover {
    color: rgb(12, 209, 5);
}

.search {
    height: 40px;
    outline: none;
    border: 2px solid rgb(12, 209, 5);
    background-color: transparent;
    border-radius: 20px 0 0 20px;
    border-right: none;
}

.btn1 {
    height: 40px;
    outline: none;
    border: none;
    background-color: rgb(12, 209, 5);
    color: #fff;
    border-radius: 0 20px 20px 0px;
    transition: all 0.3s;
}

.btn1:hover {
    background-color: rgb(30, 226, 23);
}

.cart-icon {
    font-size: 35px;
    color: black;
    cursor: pointer;
    margin: 5px 0 0 10px;
    transition: all 0.3s;
}

.cart-icon:hover {
    color: rgb(12, 209, 5);
}

.navbar-toggler {
    font-size: 20px;
    color: black;
}

.navbar-toggler:focus {
    outline: none;
    box-shadow: none;
}


/* Banner */
.page-banner {
    padding: 300px 0 150px;
    background: url("../img/page-banner.jpg") center center no-repeat;
    background-size: cover;
}

.page-banner h1 {
    color: #fff;
    font-size: 50px;
}

.page-banner p {
    font-size: 22px;
    color: #999999;
}

.page-banner h1,
.page-banner p {
    text-align: left;
    margin-bottom: 20px;
}

/* Contact */
.content {
    margin-top: 50px;
    position: relative;
}

.content .container {
    width: 75%;
    margin: auto;
}


.section-heading {
    font-family: "Roboto Slab", sans-serif;
    font-size: 35px;
    font-weight: 500;
    margin-bottom: 45px;
    text-align: center;
}

.content .form_container .form-control {
    width: 100%;
    border: none;
    height: 50px;
    margin-bottom: 25px;
    padding-left: 25px;
    border: 1px solid #999;
    outline: none;
    color: #000000;
    border-radius: 5px;
    outline: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.content .form_container .form-control::placeholder {
    color: #222222;
}



.content .form_container button {
    margin-top: 15px;
    border: none;
    text-transform: uppercase;
    display: inline-block;
    padding: 10px 55px;
    background-color: #ffbe33;
    color: #ffffff;
    border-radius: 45px;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    border: none;
}

.content .form_container button:hover {
    background-color: #e69c00;
}

.img-map {
    width: 100%;
    max-height: 350px;
}

.row p {
    padding-top: 20px;
}





/*  */
.end-of-body {
    text-align: center;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-image: url("/asscet/img/banner-sub1.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100%;
    padding-top: 200px;
    padding-bottom: 200px;
}

.end-of-body-text {
    text-align: center;
    font-family: "Roboto Slab", sans-serif;
    color: #fff;
    justify-content: center;
    align-items: center;
}

.end-of-body h2 {
    font-size: 37px;
    font-weight: 700;
    line-height: 45.5px;
    margin-bottom: 10px;
}

.end-of-body h3 {
    font-size: 20px;
    line-height: 22.4px;
    margin-bottom: 10px;
}

.end-of-body {
    position: relative;
    margin-top: 60px;
}

.email input {
    height: 42px;
    width: 415.2px;
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
    border: #f5f5f5;
    padding: 10px 20px;
    font-family: "Roboto Slab", sans-serif;
    font-size: 13.58px;
    line-height: 21.728px;
    text-decoration: none solid rgb(51, 51, 51);
    vertical-align: middle;
}

.all-form {
    display: flex;
    text-align: center;
    text-align: center;
    justify-content: center;
    margin-top: 20px;
}

.email {
    display: block;
}

#btnRegister {
    height: 42px;
    width: 128.062px;
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
    background-color: #86BA09;
    border: #f5f5f5;
    color: #f5f5f5;
    font-family: "Roboto Slab", sans-serif;
    font-size: 17px;
    font-weight: 800;
}

#btnRegister:hover {
    background-color: #15a415;
}


/* footer section*/

.footer_section {
    background-color: #222831;
    color: #ffffff;
    padding: 75px 0 40px 0;
    text-align: center;
}

.footer_section h4 {
    font-size: 28px;
}

.footer_section h4,
.footer_section .footer-logo {
    font-weight: 600;
    margin-bottom: 20px;
    font-family: "Roboto Slab", sans-serif;
}

.footer_section p {
    color: #dbdbdb;
}

.footer_section .footer-col {
    margin-bottom: 30px;
}

.footer_section .footer_contact .contact_link_box {
    display: flex;
    flex-direction: column;
}

.footer_section .footer_contact .contact_link_box a {
    margin: 5px 0;
    color: #ffffff;
    text-decoration: none;
}

.footer_section .footer_contact .contact_link_box a i {
    margin-right: 5px;
}

.footer_section .footer_contact .contact_link_box a:hover {
    color: #ffbe33;
}

.footer_section .footer-logo {
    display: block;
    font-weight: bold;
    font-size: 38px;
    line-height: 1;
    color: #ffffff;
    text-decoration: none;
}

.footer_section .footer_social {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 10px;
}

.footer_section .footer_social a {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #222831;
    width: 30px;
    height: 30px;
    border-radius: 100%;
    background-color: #ffffff;
    border-radius: 100%;
    margin: 0 2.5px;
    font-size: 18px;
    text-decoration: none;
}

.footer_section .footer_social a:hover {
    color: #ffbe33;
}